
$color: #000;

.wp-block-feltino-myblock {
	color: $color;

	&.feltino-align-left {
		text-align: left;
	}
	
	&.feltino-align-center {
		text-align: center;
	}
	
	&.feltino-align-right {
		text-align: right;
	}
}
